* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    min-height: 100vh;
}
.cardContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(237,237,237,1) 0%, rgba(222,222,222,1) 100%);
    font-family: verdana;
    font-weight: lighter;
    min-height: calc(100vh - 80px);
}
.cardContainer a {
    text-decoration: none;    
}
.cards {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.card {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    box-shadow: 17px 5px 13px 0px rgba(172, 172, 172, 0.18);
    position: relative;
    transition: 0.3s;
    margin: 35px 91px;
    z-index: 5;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-size: 94% !important;
    background-position: center center !important;
}
.card:hover {
    box-shadow: 13px 16px 13px 0px rgba(0, 0, 0, 0.16);
}
.card::after {
    content: '';
    position:absolute;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    opacity: 0;
    background: rgba(37, 34, 110, 0.48);   
    border-radius: 20px;
}
.card:hover::after {
    opacity: 1;
}
.c1 {
    background: url('../img/javascript.png') #fff;
}
.c2 {
    background: url('../img/java.png') #fff;
}
.c3 {
    background: url('../img/laravel.png') #fff;
}
.c4 {
    background: url('../img/vue.png') #fff;
}
.c5 {
    background: url('../img/bashscript.png') #fff;
}
.c6 {
    background: url('../img/bootstrap.png') #fff;
}
.cathegory {
    width: 100%;
    z-index: 5;
}
.card  h2 {
    color: white;
    display: block;
    background: rgba(0,0,0,1);
    width: 100%;
    text-align: center;
    opacity: 0;
    padding-top: 19px;
    transition: 0.3s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 10;
}
.cards a {
    text-decoration: none;
}
.langLink {
    display: block;
    width: 100%;
}
.card:hover  h2 {
    opacity: 100%;
    padding-bottom: 43px;
    z-index: 1;
    position: relative;
}
.difficulty {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 90%;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /*! overflow: hidden; */
    transition: 0.3s;
    z-index: 0;
    transform-origin: top;
    height: 0;
    align-items: center;
}
.card:hover .difficulty {
    height: 37px;
    bottom: -37px;
}
.difficulty a {
    display: block;
    color: white;
    /*! padding: 11px; */
    opacity: 0;
    transition: 0.3s;
    z-index: 0;
    filter: saturate(75%);
    width: 79px;
    text-align: center;
    padding: 12px 0;
    font-size: 1.em;
}
.card:hover .difficulty a {
    display: block;
    color: white;
    opacity: 100%;
}
.difficulty a:hover {
    transform: scale(120%);
    z-index: 20;
    filter: saturate(200%); 
}
.beg {
    border-bottom-left-radius: 20px;
    background-color: rgb(73, 177, 118);
}
.int {
    background-color: rgb(245, 180, 79);
}
.high {
    background-color: rgb(224, 95, 95);
}
.all {
    border-bottom-right-radius: 20px;
    background-color: rgb(0,0,0);
}

/* whole div link fix*/
.takewhole {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 15;
}
.spanWhole {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
}
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1175px) {
    .cards {
        justify-content: left;
        flex-wrap: wrap;
    }
    
    .card {
        margin: 35px 111px;
    }
    .c2 {
        margin-left: auto;
    }
}

/*1259*/
@media (max-width: 1259px) {
    .cards {
        justify-content: center;
    }
    .card {
        margin: 35px 55px;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1032px) {
     .cards {
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .cards {
        margin: 35px;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 574px) { 
    .cards {
        justify-content: center;
        flex-wrap: wrap;
    }
    .card {
      
       background-position: center center;
       background-size: contain;
    }
    .c1 {
        background-size:auto;
    }
}
/*logos smaller*/
@media (max-width: 574px) { 
    .card {
        height: 350px;
        background-repeat:no-repeat;
        background-color: #fff;
        margin: 35px;
    }
    .c1,.c3 {
        background-size:contain;
        background-repeat:no-repeat;
        background-color: #fff;
    }
}
/* mobile vertical*/
@media (max-width: 390px) { 
     .card {
        flex-grow: 1;
         height: 250px;
         margin: 35px 15px;
    }
}
/* mobile vertical - small*/
@media (max-width: 360px) { 
     .card {
        width: 250px;
         height: 250px;
         margin: 35px 15px;
    }
}