
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    margin: 0;
    box-sizing: border-box;
    min-height: 100%;
}
body {
    margin: 0;
    box-sizing: inherit;
    min-height: 100%;
}
/* NAVBAR */
.navbar {
    width:100%;
    position: fixed;
    height: 80px;
    background-color: lightblue;
    margin-top: 0;
    top: 0;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
    display: flex;
}
.navbarLogo {
    width: 270px;
    background-color: red;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}
.hamburgerLink {
    position: absolute;
    right: 22px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px 9px;
    top: 24px;
}
.hamburger::before {
   content: "X";   
}
.navbarRight {
    margin-left: auto;
}
.navRightElements {
    color:red;
    height: 80px;
    background-color: blue;
    width: 270px;
}
/* MAIN*/
.maincontent {
    margin-top: 80px;
    width: 100%;
    min-height: 100%;
    position: relative;
}