
body {
    min-height: 98vh;
}
#mybutton {
    width: 55px;
}
#mybutton:not(.collapsed)  {
    margin-right: 75px;
}
.collapsing {
     margin-right: 75px;
}
.nav-link {
    margin: 0 8px;
}
.nav-link:first-of-type {margin-left:16px;}
.nav-link:last-of-type {margin-right: 16px;}
/* carousel */
.carousel-item {
    max-height: 500px;
    max-width: 500px;
}
#carouselExampleControls {
 max-height: 500px;
 max-width: 500px;
}

#myContent {
    margin: 0px 130px;
    border: 1px solid black;
}
/* menu border */
#buttonera_menu {
   border: 1px solid black;
}
/*menu on mobile view*/
@media screen and (max-width: 991px) {
 #buttonera_menu{
    border: none;
    }
}
#myFooter {
    border: 1px solid black;
    width: 97%;
    margin-top: auto;
}

/*carousel center on small screen*/
@media screen and (max-width: 575px) {
 #myCarousel{
    justify-content: center !important;
 }
}

/*footer*/
#myFlex {
    display: flex;
    justify-content: center;
    min-height: 231px;
}

