.container {
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.row {
}
.col-sm {
    color: white;
    text-align: center;
    box-sizing: border-box;
}
.gray {
    background-color: gray;
}
.black {
    background-color: black
}
.bl-marg {
    border-right: 77px solid black;
}
/* MEDIA QUERY TO REMOVE MQARGIN FROM BOTTOM ELEMENT*/
@media only screen and (max-width: 575px) {
  .bl-marg {
    border-right: none;
}
}